@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  background-color: rgb(0 0 0 / 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.37);
}

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1618477388954-7852f32655ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}

.about-title {
  @apply text-4xl p-4 sm:text-6xl text-center lg:text-left;
}

.about-text {
  @apply font-medium p-4 text-lg text-center lg:text-left;
}

.section-title {
  @apply text-3xl font-bold pb-4 ml-8 sm:ml-16;
}

.project-box {
  display: inline-block;
  flex: 1 0 auto;
  @apply p-48 bg-white mt-12;
}

.project-container {
  @apply grid grid-flow-col 
  justify-start  items-center w-11/12 mx-auto
  gap-12  min-h-full mt-8
   overflow-x-scroll;
}

.project-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  color: transparent;
}
.project-container::-webkit-scrollbar-thumb {
  background: transparent; /* make scrollbar transparent */
  color: transparent;
}

.card-container:hover .card {
  display: flex;
}

.divider {
  position: relative;
  background: #f5f5f5;
  height: 1px;
}

.divider::after {
  content: "";
  position: absolute;
  right: 0;
  left: -35%;
  top: 100%;
  z-index: 1;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #f5f5f5 25%, transparent 25%),
    linear-gradient(225deg, #f5f5f5 25%, transparent 25%);
  background-position: 0 0;
}
